<h1>Post Success! Newly added sighting:</h1>
<% for( let index = 0; index < sightings.length; index++ ) { %>
<p>The year is: <%= sightings[index].year %></p>
<p>The season is: <%= sightings[index].season %></p>
<p>The state is: <%= sightings[index].month %></p>
<p>The county is: <%= sightings[index].county %></p>
<p>The state is: <%= sightings[index].state %></p>
<p>The state is: <%= sightings[index].location_details %></p>
<p>The state is: <%= sightings[index].nearest_town%></p>
<% } %>
